<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API</key>
	<dict>
		<key>Scheme</key>
		<string>https://</string>
		<key>Host</key>
		<string>api.coingecko.com</string>
		<key>Port</key>
		<string>0</string>
		<key>Path</key>
		<string>/api/v3</string>
	</dict>
	<key>BreakingBadAPI</key>
	<dict>
		<key>Scheme</key>
		<string>https://</string>
		<key>Host</key>
		<string>www.breakingbadapi.com</string>
		<key>Port</key>
		<string>0</string>
		<key>Path</key>
		<string>/api</string>
	</dict>
</dict>
</plist>
